@import "tailwindcss";
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--accent);
  --accent: rgb(255, 135, 23);
  --accentgradient: linear-gradient(
    145deg,
    rgb(255, 180, 70),
    rgb(255, 135, 23)
  );
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
}
h1 {
  color: var(--accent);
  text-shadow: rgba(0, 0, 0, 0.15) 3px 3px 5px;
  margin-bottom: 16px;
  font-size: 3rem;
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: 500;
}
a {
  font-weight: 500;
  color: var(--accent);
  text-decoration: inherit;
}
a:hover {
  color: black;
}

.area {
  padding: 32px;
}
.slider {
  min-width: 96px;
}
.sliderGrab {
  min-height: 32px;
  min-width: 32px;
  max-width: fit-content;
  max-height: fit-content;
}
.circle {
  height: 32px;
  width: 32px;
  border-radius: 100%;
}
.bigcircle {
  height: 96px;
  width: 96px;
  border-radius: 100%;
}

button {
  padding: 0.6em 1.2em;
  border-radius: 100%;
  font-size: 1em;
  font-weight: 500;
  background: #e0e0e0;
  cursor: pointer;
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}
button:hover {
  outline: 1px solid var(--accent);
}
button:active {
  border-radius: 32px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* default values of neumorphism.io */
.flat {
  border-radius: 32px;
  background: #e0e0e0;
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}
.concave {
  border-radius: 32px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}
.convex {
  border-radius: 32px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff;
}
.inset {
  border-radius: 32px;
  background: #e0e0e0;
  box-shadow:
    inset 6px 6px 12px #bebebe,
    inset -6px -6px 12px #ffffff;
}
.popout {
  border-radius: 32px;
  background: #e0e0e0;
  box-shadow:
    6px 6px 12px #bebebe,
    -6px -6px 12px #ffffff,
    inset 6px 6px 12px #bebebe,
    inset -6px -6px 12px #ffffff;
}

/* From Uiverse.io by mobinkakei */
.label-text {
  margin-left: 16px;
}

.indicator {
  transform: translate3d(-75%, 0, 0);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  box-shadow:
    -8px -4px 8px 0px #ffffff,
    8px 4px 12px 0px #d1d9e6;
}

.toggle-state:checked ~ .indicator {
  transform: translate3d(25%, 0, 0);
}
